header{
  width: 100%;
  height: 80px;
  padding: 1rem;
  background-color: rgb(70, 160, 70);
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .menu{
  height: 100%;
  /* width: 30%; */
  /* padding-right: 1rem; */
  text-transform: uppercase;
  display: flex;  
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: column;
}
header > .slogan{
  height: 100%;
  
  padding-left: 2rem;
}
header > .slogan img{
  height: 100%;  
  
}



header > nav.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header > nav.bar >  .bar_item{
  display: inline-block;
  list-style: none; 
  padding: .5rem 1rem; 
  transition: .5s;
  
  color: black;
  text-decoration: none;
  transition: all .5s;
}



header .bar_item:hover{
  background-color:  rgb(25, 126, 25);
  padding: 0.5rem;
  transition: .5s;
}

/* COLOCAR BOTAO */

header > input{
  display: none;
}
header > .bar_mobile label{
  cursor: pointer;
  display: none;  
}

/* Medium Devices - Tablet */
@media (max-width: 641px){
  header > .bar_mobile label{    
    display: block;
  }
 
  header nav.bar{
		position: absolute;
    width: 100%;
    height: 50vh;
    top: 80px;
    left: -100%;
    background-color: rgb(40, 134, 40);

    flex-direction: column;
		/* left: -100%;
		text-align: center;
		transition: all .5s;  */
	} 

  header nav.bar .bar_item{
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav.bar > .bar_item:hover{
    background-color: rgb(25, 126, 25);
    margin: 0.5rem;
    transition: .6s;
  }

  /* QUANDO O INPUT FOR ATIVADO, ESSE COMANDO SERÁ EXECUTADO 
    #ID_ELEMENT : CHECKED ~ ELEMENTO_MODIFICADO
  */
  #check:checked ~ nav.bar {
		left: 0;
    transition: .5s;
	}
}

