.project{
  width: 100vw;
  /* height: 100vh; */
  padding: 1rem;

  background-color: indigo;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.project > span{
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.project > .container{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.project > .container .box{
  width: 100%;
  /* height: 40vh; */

  background-color: rgb(19, 36, 19);
  padding:0.5rem;
  border: 5px solid indigo;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.project > .container .box.spider{
  
}


.project > .container > .box h3{
  width: 100%;
  text-align: center; 
  color: white; 
}
.project > .container > .box h3::after{
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background-color: indigo;
}

.project > .container > .box .contains{
  width: 80%;
  height: 50%;
  margin-top: 0.5rem;
  
  background-image: url('../img/project/project_Spider_Man.jpg');
  background-size: cover;
}

.project > .container > .box .descrition{
  width: 100%;
   
  padding: 0.5rem;
  text-align: center;
  color: white;
}
.project > .container > .box .button_project{  
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 2s;
}

.project > .container > .box .button_project:hover{
  font-size: 1.5rem;
}

.project > .container > .box img{
  max-width: 100%;
  margin-top: 0.5rem;
}

.project a {
  text-decoration: none;
  color: black;
}